* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font: Georgia, "Times New Roman", Times, serif;
    color: #333;
}

div.container {
    width: 1024px;
    max-width: 94%;
    margin: 0 auto;
}

/* Header styles */

header {
    margin-bottom: 1em;
    background-color: #333;
}

header h1 {
    padding: 1em;
    color: #eee;
    font-size: 28px;
    text-align: center;
}

/* Main content styles */

section#main-bio, section#contact-info, img#bio-image {
    float: left;
}

section h2 {
    font-size: 24px;
    padding-bottom: 0.5em;
}

section p {
    line-height: 1.5em;
}

section a {
    color: #d21034;
}

section ul {
    margin-left: 1em;
}

/* Main bio styles */

section#main-bio {
    width: 70%;
    padding-right: 0.5em;
}

img#bio-image {
    width: 200px;
    margin: 0 1em 1em 0;
}

/* Contact info styles */

section#contact-info {
    width: 30%;
    padding-left: 0.5em;
}
